<% layout('layouts/boilerplate4')%>
    <div class="container bg-light rounded py-4 mt-5" style="width: 40%;">
        <%- include('../partials/flash') %>
        <h1 class="text-center mt-1">Login Here</h1>
        <form class="row g-4 needs-validation d-flex justify-content-center mt-5" action="/auth/login" method="POST" novalidate>
            <div class="col-md-10">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" id="username" aria-describedby="inputGroupPrepend"
                        name="username" required>
                    <div class="invalid-feedback">
                        Please Enter your a username.
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <label for="password" class="form-label">Password</label>
                <div class="input-group has-validation">
                    <input type="password" class="form-control" id="password" aria-describedby="inputGroupPrepend"
                        name="password" required>
                    <div class="invalid-feedback">
                        Please Enter your a password.
                    </div>
                </div>
            </div>
            <div class="col-10 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="col-10">
                <p class="text-center">Don't have and Acoount ? <a href="/auth/register">Register Here</a></p>
            </div>
        </form>
    </div>