<nav class="navbar navbar-light d-flex flex-row px-3 w-100 shadow-md">
    <a class="navbar-brand" href="#">
        <img src="/images/notes1.jpeg" alt="Journey Logo" width="30" height="30">
        Journey
    </a>
    <div>
        <%if(!currentUser){ %>
        <a href="/auth/login"> <button class="btn btn-outline-dark me-2">Log In</button></a>
        <a href="/auth/register"> <button class="btn btn-dark">Sign Up</button></a>
        <%} else {%>
                <a href="/auth/logout"> <button class="btn btn-dark">Log out</button></a>
        <%}%>
    </div>
</nav>
