<% layout('layouts/boilerplate2')%>

    <div class="container mt-5 pt-5">
        <div class="row note-input">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item" aria-current="page">View Note</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 d-flex justify-content-between mb-2">
                <h2>Add Notes</h2>
                <form action="/item/<%= note._id %>/delete?_method=DELETE" method="POST">
                    <button type="button" class="btn btn-danger rounded-pill px-4 " data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Delete
                    </button>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you Sure you want to delete the Note
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <form action="/item/<%= note._id %>/update?_method=PATCH" method="POST" class="form-data">
                <div class="col-12">
                    <input type="text" placeholder="Title" name="title" value="<%= note.title %>">
                </div>
                <div class="col-12">
                    <textarea name="Note" cols="30" rows="13" placeholder="Take a Note..."><%= note.Note %></textarea>
                </div>
                <div class="col-12 mt-3">
                    <button type="button" class="btn rounded-pill px-4 color-style text-white update"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Update Note
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Note</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to update the Note ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-primary change">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/model.js"></script>